.user-info {
    background-color: #359BF4;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    align-items:center;
}
.mine-avatar {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    background-color: white;

}
