<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="image/favicon.ico">
    <script src="js/mui.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/cm.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <link href="css/chinamobile.css" rel="stylesheet"/>

    <script type="text/javascript" charset="utf-8">

        mui.init({
            gestureConfig: {
                tap: true, //默认为true
            }

        });
    </script>


    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>登录</title>
</head>
<body class="body" onload="bodyLoaded()">
<noscript>
    You need to enable JavaScript to run this app.
</noscript>

<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
-->

<header class="mui-bar mui-bar-nav nav-bar">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left t-f-c-w"></a>
    <h1 class="mui-title title">登录</h1>
</header>
<div class="mui-content  m-p-h bg-white f-v f-jc-c ">
    <!--<div id="root"></div>-->
    <form class="f-v m-p-h-90 bg-white border-gray m-t-20   m-b-20" id="formPost">
        <!--<div class="f-v m-p-h-90 bg-white border-gray m-t-20   m-b-20  "  id="formPost">-->

        <div class="f-f-h  m-p-h f-jc-c  ">
            <img src="./image/small_user.png" class="l-icon m-l-10"/>
            <input name="account" class="index-input  m-p-h m-b-0" id="account" v-model="account" style="  height: 40px;padding: 10px;margin:0; border: 0;"
                   @change="accountInput(account)" type="text"
                   placeholder="请输入用户名"/>

        </div>
        <div class="divider-h m-l-10 m-r-10 m-t-5"></div>
        <div class="f-f-h f-jc-c m-p-h   ">
            <img src="./image/password.png" class="l-icon m-l-10"/>
            <input type="password" class=" index-input  " style="    height: 40px;padding: 10px;margin:0; border: 0;" id="password" v-model="password"
                   @change="passwordInput(password)"
                   placeholder="请输入密码">
        </div>
        <div class="divider-h m-l-10 m-r-10"></div>
        <!--</div>-->
        <button type="button" class=" m-p-h-90 mui-btn mui-btn-danger m-t-10 m-b-10 bg-main-red" @click="submit">登录</button>
    </form>
</div>

<div class="f-f-h fixed b-10">
    <p class="font t-f-c-3 ">还没有账号？</p>
    <p class="font t-f-c-blue" id="toRegister">现在注册</p>

</div>

<script>


    var formVue = new Vue({
        el: '#formPost',
        data: {
            account: '',
            password: '',

        },
        methods: {
            accountInput: function (newAccount) {
                this.account = newAccount
            },
            passwordInput: function (newPassword) {
                this.password = newPassword
            },


            submit: function () {
                var openid=getOpenid();


                mui.ajax('https://www.miaokemc.com/api/cmindex/user_login',{
                    data:{
                        user_list_username:this.account,
                        user_list_pwd:this.password,
                        openid:openid


                    },
                    dataType:'json',//服务器返回json格式数据
                    type:'get',//HTTP请求类型
                    timeout:10000,//超时时间设置为10秒；
//                    headers:{'Content-Type':'application/json'},
                    success:function(data){
                        //服务器返回响应，根据响应结果，分析是否登录成功；
                        console.log(data)
                        if(data.status===1) {
                            var storage = null;
                            if(window.localStorage){              //判断浏览器是否支持localStorage
                                storage = window.localStorage;
                                storage.setItem("is_login", '1');    //调用setItem方法，存储数据
                                storage.setItem("user_name", data.data.user_name);    //调用setItem方法，存储数据
                                storage.setItem("uid", data.data.id);    //调用setItem方法，存储数据
//                                storage.setItem("openid", openid);    //调用setItem方法，存储数据
                            }

                            window.location.href=callback;

//                            mui.confirm("登录成功"+storage.getItem('is_login'), "提示", ["确定"], function () {
//                            })
                        }else{
                            mui.confirm(data.message, "提示", ["确定"], function () {
                                    if(data.data.auth!==null&&parseInt(data.data.auth)===1){
                                        window.location.href=data.data.oauth_url;
                                    }
                            })
                        }
                    },
                    error:function(xhr,type,errorThrown){
                        //异常处理；
                        console.log(xhr);
                        console.log(type);
                    }
                });

            }
        }
    })
    var callback='./user.html';
    function bodyLoaded() {
        callback = getQueryString('callback');
//        console.log(callback);
        if(callback===null||callback===undefined||callback==='null'){
            callback='./user.html';
//            console.log(callback);

            return;
        }

    }

    document.getElementById('toRegister').addEventListener('tap', function () {
//打开关于页面
        mui.openWindow({
            url: 'register.html', //目标页面地址
            id: 'register' //触发新打开页面的id
        });
    });

</script>
</body>
</html>
