<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>

    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="image/favicon.ico">
    <script src="js/mui.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/cm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <link href="css/mui.min.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/index.css" rel="stylesheet"/>
    <link href="css/chinamobile.css" rel="stylesheet"/>

    <script type="text/javascript" charset="utf-8">

        mui.init({
            gestureConfig: {
                tap: true, //默认为true
            }

        });
    </script>


    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>订单列表</title>
</head>
<body class="body" onload="bodyLoaded()">
<noscript>
    You need to enable JavaScript to run this app.
</noscript>

<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
-->

<header class="mui-bar mui-bar-nav nav-bar">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left t-f-c-w"></a>
    <h1 class="mui-title title">订单列表</h1>
</header>

<div class="mui-content background m-p-h">

    <!--数据列表-->
    <ul class=" f-v m-p-h p-0 m-0" id="index-list">
        <li class="f-v m-p-h  bg-white" v-for="item in dataList" :key="item.id">
            <div class="f-v m-p-h">
                <div class="f-f-h m-p-h p-10">
                    <span class=" font t-f-s-14 flex-weight1 t-f-c-gray">订单号：{{item.order_trade_no}}</span>
                    <div v-if="item.order_state==0">
                        <span class="t-f-c-yellow t-f-s-13">待处理</span>
                    </div>
                    <div v-if="item.order_state==1">
                        <span class="t-f-c-yellow t-f-s-13">待打款</span>
                    </div>
                    <div v-if="item.order_state==2">
                        <span class="t-f-c-yellow t-f-s-13">已打款</span>
                    </div>
                    <div v-if="item.order_state==3">
                        <span class="t-f-c-yellow t-f-s-13">已退回</span>
                    </div>
                    <div v-if="item.order_state==4">
                        <span class="t-f-c-yellow t-f-s-13">待付款</span>
                    </div>


                </div>
                <div class="divider-h"></div>
                <div class="m-p-h f-v p-10">
                    <div class="m-p-h-95  f-f-h f-jc-sb p-5-r">
                        <span class="font t-f-c-3 t-f-s-13  ">客户手机</span>
                        <span class="font t-f-c-6 t-f-s-13  ">{{item.client_phone}}</span>
                    </div>
                    <div class="m-p-h-95  f-f-h f-jc-sb p-5-r">
                        <span class="font t-f-c-3 t-f-s-13  ">客户地址</span>
                        <span class="  font t-f-c-6 t-f-s-13">{{item.client_city}}{{item.client_area}}{{item.client_address}}</span>
                    </div>
                    <div class="m-p-h-95  f-f-h f-jc-sb p-5-r">
                        <span class="font t-f-c-3 t-f-s-13  ">备注</span>
                        <span class="  font t-f-c-6 t-f-s-13">{{item.note_info}}</span>
                    </div>
                    <div v-if="item.order_state==3" class="m-p-h-95  f-f-h f-jc-sb p-5-r">
                        <span class="font t-f-c-3 t-f-s-13  ">退回原因</span>
                        <span class="  font t-f-c-yellow t-f-s-13">{{item.order_refuse_reason}}</span>
                    </div>
                    <div class="m-p-h-95  f-f-h f-jc-sb p-5-r">
                        <span class="font t-f-c-3 t-f-s-13  ">费用</span>
                        <span class="  font t-f-c-6 t-f-s-13">{{item.order_amount}}元</span>

                    </div>
                    <div class="m-p-h-95  f-f-h f-jc-sb p-5-r">
                        <span class="font t-f-c-3 t-f-s-13  ">提成金额</span>
                        <span class="  font t-f-c-6 t-f-s-13">{{item.order_return_amount}}元</span>

                    </div>
                </div>
                <div v-if="item.order_state==4" class="m-p-h f-f-h flex-end  " @click="toPay(item.order_list_id)">
                    <p class="btn-order-pay-bottom f-as-fs"
                       style="color:#359BF4;border-color: #359BF4;">确认付款
                    </p>
                </div>
                <div class="divider"></div>

            </div>
        </li>
    </ul>


</div>
<script>
    var page = 0;

    var openid = '';
    var listVue = new Vue({
        el: "#index-list",
        data: {
            dataList: []
        },
        methods: {
            resetData: function () {
                this.dataList = [];
            },
            addData: function (data) {
                if (this.dataList.length === 0)
                    this.dataList = data;
                else {
                    this.dataList = this.dataList.concat(data)

                }
            },
            toPay: function (orderId) {
                openid=getOpenid();
                mui.ajax('https://www.miaokemc.com/api/cmindex/wxPay', {
                    data: {
                        order_id: orderId,
                        openid: openid
                    },
                    dataType: 'json',//服务器返回json格式数据
                    type: 'get',//HTTP请求类型
                    timeout: 10000,//超时时间设置为10秒；
//                    headers:{'Content-Type':'application/json'},
                    success: function (data) {
                        //服务器返回响应，根据响应结果，分析是否登录成功；
                        if (data.status === 1) {
                            appId = data.data.appId;
                            timestamp = data.data.timestamp;
                            timestamp = data.data.package;
                            nonceStr = data.data.nonceStr;
                            signature = data.data.signature;

                            wx.chooseWXPay({
                                timestamp: timestamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                                nonceStr: noncestr, // 支付签名随机串，不长于 32 位
                                package: "prepay_id=" +preId, // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                                signType: "MD5", // 签名方式，默认为´SHA1´，使用新版支付需传入´MD5´
                                paySign: signature, // 支付签名
                                success: function (res) {
                                    if (res.errMsg == "chooseWXPay:ok") {
                                        alert("支付成功");
                                    } else {
                                        alert(res.errMsg);
                                    }
                                },
                                cancel: function (res) {
                                    alert('取消支付');
                                }
                            });

                        } else {
                            if (page === 0) {
                                mui.confirm(data.message, "提示", ["确定"], function () {
                                    window.location.reload();
                                })
                            } else {
                                mui.toast(data.message);
                            }
                        }

                    },
                    error: function (xhr, type, errorThrown) {
                        //异常处理；
                        console.log(type);
                    }
                });


            }
        }
    });

    var appId = '';
    var timestamp = '';
    var preId = '';
    var nonceStr = '';
    var signature = '';
    var uid = '';

    function bodyLoaded() {
        var isLogin = 0;
        if (window.localStorage) {
            var storage = window.localStorage;
            uid = storage.getItem('uid');
            isLogin = storage.getItem('is_login');
        }
        if (!is_login_success()) {
            window.location.href = './login.html?callback=./order_list.html';
            return;
        }

        mui.ajax('https://www.miaokemc.com/api/cmindex/getSignPackage', {
            data: {},
            dataType: 'json',//服务器返回json格式数据
            type: 'get',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
//                    headers:{'Content-Type':'application/json'},
            success: function (data) {
                //服务器返回响应，根据响应结果，分析是否登录成功；
//                console.log(data)
                if (data.status === 1) {
                    appId = data.data.appId;
                    timestamp = data.data.timestamp;
                    nonceStr = data.data.nonceStr;
                    signature = data.data.signature;
                    wx.config({
                        debug: true,
                        appId: appId,
                        timestamp: timestamp,
                        nonceStr: nonceStr,
                        signature: signature,
                        jsApiList: [
                            // 所有要调用的 API 都要加到这个列表中
                            'chooseWXPay'
                        ]
                    });
                    wx.ready(function () {
                        // 在这里调用 API
                    });
                } else {
                    if (page === 0) {
                        mui.confirm(data.message, "提示", ["确定"], function () {
                            window.location.reload();
                        })
                    } else {
                        mui.toast(data.message);
                    }
                }

            },
            error: function (xhr, type, errorThrown) {
                //异常处理；
                console.log(type);
            }
        });


        mui.ajax('https://www.miaokemc.com/api/cmindex/order_list', {
            data: {uid: uid},
            dataType: 'json',//服务器返回json格式数据
            type: 'get',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒；
//                    headers:{'Content-Type':'application/json'},
            success: function (data) {
                //服务器返回响应，根据响应结果，分析是否登录成功；
//                console.log(data.data)
                if (data.status === 1) {
                    listVue.addData(data.data);

                } else {
                    if (page === 0) {
                        mui.confirm(data.message, "提示", ["确定"], function () {
                            window.location.reload();
                        })
                    } else {
                        mui.toast(data.message);
                    }
                }

            },
            error: function (xhr, type, errorThrown) {
                //异常处理；
                console.log(type);
            }
        });
    }

</script>
</body>
</html>
